# java.gitignore + frontend.gitignore

# Explicitly track markdown and image files
!*.md
!**/*.md
!*.jpg
!*.jpeg
!*.png
!*.gif
!*.svg
!*.webp
!**/*.jpg
!**/*.jpeg
!**/*.png
!**/*.gif
!**/*.svg
!**/*.webp

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
**/.idea
*.iws
*.eml
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
**/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
src/main/resources/application-dev.properties

**/node_modules
**/archivez # files under this dir will all be ignored
**/archivez